<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8a81bff2-864d-45e9-9899-a1e032406a63" Publisher="CN=Allan" Version="1.0.0.1" />
  <Properties>
    <DisplayName>SurgerUI.Sweet</DisplayName>
    <PublisherDisplayName>RedSafi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SurgerUI.Sweet.App">
      <VisualElements DisplayName="SurgerUI.Sweet" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SurgerUI.Sweet" ForegroundText="light" BackgroundColor="#f8216a">
        <DefaultTile ShowName="allLogos" ShortName="SUGAR • SWEET" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#f8216a" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>