<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="464b011c-7ee3-4e5d-b161-b5e11f704dee" Publisher="CN=Developer" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SurgerUI.Solid</DisplayName>
    <PublisherDisplayName>RedSafi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SurgerUI.Solid.App">
      <VisualElements DisplayName="SurgerUI.Solid" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SurgerUI.Solid" ForegroundText="light" BackgroundColor="#2f8e6b">
        <DefaultTile ShowName="allLogos" ShortName="SUGAR UI • SOLID" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#2f8e6b" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>